[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/kythe"]
	path = external/kythe
	url = https://github.com/google/kythe.git
