# Bazel files
bazel-*

# Swap Files
*.swp
*~


# Prerequisites
*.d

# Compiled Object files
bin/
main
brutao
channel_tst
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app
